.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DCD9D3;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.input::placeholder {
  color: #DCD9D3;
  opacity: 0.4;
}